<!-- File Name: aboutMe.ejs   Student Name: Fu Xiao   Student ID: 301339743  Date: 2023/Oct/02-->
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>About Me - Fu Xiao</title>
    <link rel="stylesheet" href="stylesheets/style.css"> <!-- Link to an external stylesheet for styling -->
</head>
<body>
    <%- include('header') %> <!-- Include a header partial for navigation -->
    <main>
        <section class="about-me">
            <h1>About Me</h1>
            <div class="center-image">
            <img src="images/me.png">
            </div>
            <style>
            </style>
            <p>Hello, My name is Fu Xiao, and I am 36 years old. 
                I am currently a student at Centennial College, 
                studying Software Engineering Technology. 
                This is my third time pursuing higher education.
                 I enjoy off-roading and fishing. 
                 My hope is to become a software engineer in the future.</p>
            <p>You can download my <a href="images/resume.webp" ><!-- Link to download your resume (PDF) -->Resume (PDF)</a> to learn more about my qualifications and experience.</p>
    </section>
</main>
        </section>
        
    </main>
    <%- include('footer') %> <!-- Include a footer partial for the footer section -->
</body>
</html>
<!-- File Name: aboutMe.ejs   Student Name: Fu Xiao   Student ID: 301339743  Date: 2023/Oct/02-->