<!-- File Name: error.ejs   Student Name: Fu Xiao   Student ID: 301339743  Date: 2023/Oct/02-->
<h1><%= message %></h1>
<h2><%= error.status %></h2>
<pre><%= error.stack %></pre>
<!-- File Name: error.ejs   Student Name: Fu Xiao   Student ID: 301339743  Date: 2023/Oct/02-->