<footer>
    <i><small>Copyright &copy; Centennial College COMP229-019<br>
        Student Name: FU XIAO<br>
        Student ID: 301339743<br>
        Student: <a href="mailto:xfu29@my.centennialcollege.ca">Email</a><br>
        COMP229-019 FALL 2023<br>
        Assignment #1<br>
    </small></i>
</footer>