<header>
    <nav>
        <div class="logo">
            <img src="images/Clogo.png">
        </div>
        <ul class="nav-links">
            <li><a href="/">Home</a></li>
            <li><a href="aboutMe">AboutMe</a></li>
            <li><a href="projectsPage">Projects</a></li>
            <li><a href="servicePage">Services</a></li>
            <li><a href="contactMe">Contact</a></li>
        </ul>
    </nav>
</header>