<!-- File Name: servicePage.ejs   Student Name: Fu Xiao   Student ID: 301339743  Date: 2023/Oct/02-->
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Services - Fu Xiao</title>
    <link rel="stylesheet" href="stylesheets/style.css"> <!-- Link to an external stylesheet for styling -->
</head>
<body>
    <%- include('header') %> <!-- Include a header partial for navigation -->
    <main>
        <section class="services">
            <h1>Services</h1>
            <div class="service">
                <img src="images/programming.jpeg">
                <h2>Programming</h2>
                <p>General programming services to meet your specific software needs.</p>
            </div>
            <div class="service">
                <img src="images/webd.jpeg">
                <h2>Web Development</h2>
                <p>Specialize in creating responsive and user-friendly websites for businesses and individuals.</p>
            </div>
            <div class="service">
                <img src="images/moblieapp.jpeg">
                <h2>Mobile Apps</h2>
                <p>Develop mobile applications for iOS and Android platforms, tailored to your requirements.</p>
            </div>
        </section>
    </main>
    <%- include('footer') %> <!-- Include a footer partial for the footer section -->
</body>
</html>
<!-- File Name: servicePage.ejs   Student Name: Fu Xiao   Student ID: 301339743  Date: 2023/Oct/02-->